body {
  background: #222;
  font-family: "Arial", sans-serif;
  color: #444;
  padding: 0;
}

div.box, div#currently_playing {
  position: absolute;
  border: 5px solid #fff;
  background: #ddd;
  padding: 10px;
  margin: 0;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; 
  width: 700px;
  top: 70px;
  left: 50%;
  margin-left: -365px;
}

div#currently_playing {
  border-top: 0;
  -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; 
  -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; 
  top: 0;
  height: 20px;
  overflow: hidden;
}

p.last-watched {
  font-size: 0.7em;
  color: #aaa;
}

div#menu {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px 0 0;
}
div#menu a {
  text-decoration: none;
  padding: 0 0.5em;
  border-left: 3px solid #444;
}

div#menu a.first {
  border-left: none;
}

h1#title {
  color: #555;      
}

h1, h2, h3 {
  margin: 0;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}

li.episode {
  margin: 5px 0;
  padding: 5px;  
}

li.episode.seen {
  color: #aaa;
  font-size: 0.7em;
}

li.episode.notseen {
  color: #000;
  background: #fff;
}

