body {
  background: #222;
  font-family: "Arial", sans-serif;
  color: #444;
  padding: 0;
  margin: 0;
}

div.box {
  border: 5px solid #fff;
  background: #ddd;
  padding: 10px;
  margin: 2em auto;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; 
  width: 700px;
}

strong {
  color: #222;
  font-weight: normal;
  font-size: 1.1em;
}

div.notice {
  border-color: #c63;
  background: #fea;
}

div#top_bar {
  position:relative;
  height: 50px;
  background: #000;
  margin: 0;
}

div#currently_playing {
  bottom: 10px;
  left: 200px;
  padding: 15px 200px;
  color: #222;
}

div#currently_playing.playing {
  color: #fff;
}

p.last-watched {
  font-size: 0.7em;
  color: #aaa;
}

div#menu {
  position: absolute;
  top: 15px;
  right: 5px;
  padding: 0;
}

div#menu a {
  text-decoration: none;
  padding: 0 0 0 0.5em;
  color: #aaf;
}

h1#title {
  color: #555;
  position: absolute;
  padding: 0;
  margin: 0;
  line-height: 1em;
  left: 5px;
  bottom: 10px;
}

h1, h2, h3 {
  margin: 0;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}

li.episode {
  -moz-border-radius: 5px; -webkit-border-radius: 5px;
  border: 1px solid #aaa;
  margin: 5px 0;
  padding: 5px 30px 5px 10px;
  position: relative;
}

li.episode.seen {
  color: #aaa;
  font-size: 0.7em;
}

li.episode.notseen {
  color: #000;
  background: #fff;
}

li.episode div.options {
  position: absolute;
  right: 5px;
  top: 5px;
}

a.play, a.stop, a.pause, a.seen{
  display: block;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
  float: left;
}

a.pause{ background: url("/images/control_pause.png"); }
a.pause:hover{ background: url("/images/control_pause_blue.png"); }
a.seen{ background: url("/images/control_eject.png"); }
a.seen:hover{ background: url("/images/control_eject_blue.png"); }
a.play{ background: url("/images/control_play.png"); }
a.play:hover{ background: url("/images/control_play_blue.png"); }
a.stop{ background: url("/images/control_stop.png"); }
a.stop:hover{ background: url("/images/control_stop_blue.png"); }
