<div class="box">
  <h1>Mediaoca - Available Media</h1>
  <p>
    Please select some media to play. If it messes up you may need to restart the media_controller daemon.
  </p>

  <% if flash[:notice] %>
    <p style="color: #000; background: #fea;">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <ul>
  <% @episodes.each do |filename| episode = Episode.for(filename) %>
      <%= render(:partial => "episode", :object => episode) %>
  <% end %>
  </ul>
</div>
