<% if flash[:notice] %>
  <p style="color: #000; background: #fea;">
    <%= flash[:notice] %>
  </p>
<% end %>

<ul>
<% @episodes.each do |episode| %>
  <li><%= link_to(File.basename(episode), :action => "show", :episode => episode) %></li>
<% end %>
</ul>
