.box
  %h1 Enqueue Episode
  - form_for(@enqueue, :url => {:action => :enqueue}) do |f|
    %label
      NewzbinId:
      = f.text_field :newzbin_id
    = f.submit "Enqueue"
  - javascript_tag do
    $('enqueue_newzbin_id').focus();
