#system_commands.box
  %h1 System Commands
  %ul
    %li= link_to "Restart Media Controller", restart_media_controller_system_path, :method => :put
    %li= link_to "Shutdown", shutdown_system_path, :confirm => "Are you sure?", :method => :delete
#disk_usage.box
  %h1 Disk Usage
  %table
    %tr
      %th Drive
      %th Free (GB)
    - @disk_usage.each do |disk_usage|
      %tr
        %td= h disk_usage.path
        %td= format_disk_usage(disk_usage)