<html>
<head>
  <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="Main Style" charset="utf-8"/>
</head>
<body>
  <h1 id="title">Mediaoca</h1>
  <div id="menu">
    <!-- <a href="#" class="first">Login</a><a href="#">Profile</a> -->
  </div>

  <div class="box">
    <%= yield %>
  </div>
</body>
</html>